{% extends "CCPlaysureBundle::layout.html.twig" %}


{% block content %}
	<!-- Si la variable games existe, elle est s'affiche ici -->
	{% if game is defined %}
    	<div class="slider">
	    	<img class="bcg" src="{{ asset('bundles/ccplaysure/images/expertBackground.jpg', absolute=true) }}" alt="fond">
			<div class="gameText">
				<h1 class="">{{ game.teamA }} VS {{ game.teamB }}</h2>	
				<div class="cote">
					<ul>
						<li>
							<p>{{ game.teamA }} : {{ game.coteA }}</p>
						</li>
						<li>
							<p>Nul : {{ game.coteNul }}</p>
						</li>
						<li>
							<p>{{ game.teamB }} : {{ game.coteB }}</p>
						</li>
						<div class="clear"></div>
					</ul>

				</div>
			</div>
    		
    		<!-- <h3>Cotes</3> -->

    		<p class="time" >{{ game.startTime }}</p>
    	</div>
	{% endif %}



	<div id="container" class="home">
		<div class="fleche">
			<img class="pointe" src="{{ asset('bundles/ccplaysure/images/pointe.png', absolute=true) }}" alt="">
			<img class="trait" src="{{ asset('bundles/ccplaysure/images/trait.png', absolute=true) }}" alt="">
		</div>
		<!-- Si la variable games existe, elle est s'affiche ici -->
		{% if expertBets is defined %}
		<!-- Boucle qui affiche chaque game -->
			{% set i = 0 %}
			{% for expertBet in expertBets %}
			{% set i = i + 1 %}

			{% if i % 2 %}
			    <div class="card left">
			{% else %}
			    <div class="card right">
			{% endif %}
		    		<h2>{{ expertBet.expertName }}</h2>
		    		
		    		<h2>{{ expertBet.PronosticTeamA }} - {{ expertBet.PronosticTeamB }}</h2>
		    		
		    		<a href="{{path('expertBet', {'gameId': expertBet.gameId,'expertBetId': expertBet.id})}}  " class="bet">Parier avec cet expert</a>
		    		<p class="price">{{ expertBet.priceOfAction }} €</p>
		    		<div class="actions">
		    			<p><span class="numberOfActionsSold{{ i }}">{{ expertBet.numberOfActionsSold }}</span> parieurs sur <span class="numberOfActionsTotal{{ i }}" >{{ expertBet.numberOfActionsTotal }}</span></p>
		    			<div id="bar{{ i }}"></div>
		    			
		    		</div>
		    		<div class="clear"></div>

		    	</div>
	    		{% if i % 2 %}
	    		    <div class="whiteCircle left">
	    		{% else %}
	    		    <div class="whiteCircle right">
		    	{% endif %}
		    			<img src="{{ asset('bundles/ccplaysure/images/circle.png', absolute=true) }}" alt="cercle">
		    		</div>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}