{% extends "CCPlaysureBundle::layout.html.twig" %}


{% block content %}


	<!-- Si la variable games existe, elle est s'affiche ici -->
	{% if games is defined %}
	<!-- Boucle qui affiche chaque game -->
		{% for game in games %}
		    	<div class="card">
		    		<h2 class="">{{ game.teamA }} VS {{ game.teamB }}</h2>
		    		<!-- <h3>Cotes</3> -->
						<div class="cote">
							<ul>
								<li>
									<p>{{ game.teamA }} : {{ game.coteA }}</p>
								</li>
								<li>
									<p>Nul : {{ game.coteNul }}</p>
								</li>
								<li>
									<p>{{ game.teamB }} : {{ game.coteB }}</p>
								</li>
								<div class="clear"></div>
							</ul>

						</div>
		    		<p class="time" >{{ game.startTime }}</p>
		    		<a href="{{path('gameView', {'gameId': game.id})}}  " class="bet">Parier sur cet expert</a>
		    	</div>
		{% endfor %}
	{% endif %}

{% endblock %}