{% extends "CCPlaysureBundle::layout.html.twig" %}


{% block slider %}
    <div class="slider">
    	<img class="bcg" src="{{ asset('bundles/ccplaysure/images/expertBackground.jpg', absolute=true) }}" alt="fond">
    	<img class="player" src="{{ asset('bundles/ccplaysure/images/expert'~ expert.Id ~'.png', absolute=true) }}" alt="fond">
    	<h2 class="expertName"><strong><a href="{{path('expertProfile', {'expertId': expertBet.expertId})}}">{{expertName}}</a></strong></h2>
		<div class="gameText">
			<h1>{{ game.teamA }} - {{ game.teamB }}</h1><br/><h1>{{ expertBet.pronosticTeamA }} - {{ expertBet.pronosticTeamB }}</h1>
		</div>
		<div class="parier">
			<a href="{{path('expertProfile', {'expertId': 3})}}" class="sliderCTA">Parier {{ expertBet.priceOfAction }}€</a>
			<p class="numberOfActions" ><span class="numberOfActionsSold">{{ expertBet.numberOfActionsSold }}</span> parieurs sur <span class="numberOfActionsTotal">{{ expertBet.numberOfActionsTotal }}</span></p>
			<div id="bar1"></div>

		</div>
		<div class="clear"></div>
    </div>
{% endblock %}


{% block content %}
<div id="container" class="home">
	<div class="fleche experbet">
		<h2>Ses précédents paris</h2>
		<img class="pointe" src="{{ asset('bundles/ccplaysure/images/pointe.png', absolute=true) }}" alt="">
	</div>
	<!-- Si la variable games existe, elle est s'affiche ici -->
	{% if pastBets is defined %}
	<!-- Boucle qui affiche chaque game -->
		{% set i = 0 %}
		{% for pastBet in pastBets %}
				{% set i = i + 1 %}

				{% if i % 2 %}
				    <div class="card left">
				{% else %}
				    <div class="card right">
				{% endif %}
		    	
		    		<h2 class="">{{ pastBet.teamA }} VS {{ pastBet.teamB }}</h2>
		    		<h2 class="">{{ pastBet.pronosticTeamA }} - {{ pastBet.pronosticTeamB }}</h2>
		    		<div class="actions">
		    			<p><span class="numberOfActionsSold{{ i }}">{{ expertBet.numberOfActionsSold }}</span> parieurs sur <span class="numberOfActionsTotal{{ i }}" >{{ expertBet.numberOfActionsTotal }}</span></p>
		    			<div id="bar{{ i }}"></div>
		    			
		    		</div>
		    		<div class="clear"></div>
		    	</div>
		    	{% if i % 2 %}
		    	    <div class="whiteCircle left">
		    	    <img class="trait" src="{{ asset('bundles/ccplaysure/images/trait.png', absolute=true) }}" alt="">
		    	{% else %}
		    	    <div class="whiteCircle right">
		    	    <img class="trait" src="{{ asset('bundles/ccplaysure/images/trait.png', absolute=true) }}" alt="">
		    	{% endif %}
		    		<img src="{{ asset('bundles/ccplaysure/images/circle.png', absolute=true) }}" alt="cercle">
		    	</div>
		{% endfor %}
	{% endif %}
</div>
{% endblock %}
